To cross check the Projects File

In [99]:
import pandas as pd
import numpy as np

In [100]:
website_proj = pd.read_excel("Final PROJECTS 2020_website.xlsx",engine="openpyxl")
website_proj.shape

(87231, 288)

In [105]:
proj = pd.read_csv("Final_Projects_2020_Latest.csv")
proj.shape

c:\users\sneha\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (39,41,43,44,73,249,250) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(86888, 291)

In [107]:
excel_proj = pd.read_excel("Final_Projects_2020_Latest.xlsx",engine="openpyxl")
excel_proj.shape

(86888, 291)

In [108]:
e_col = [col for col in excel_proj.columns ]
e_col

['Unnamed: 0',
 'pheadline',
 'pnumber',
 'ptype',
 'pstatus',
 'iexpen',
 'PBD',
 'iname',
 'iBVDid',
 'gname',
 'gBVDid',
 'pname',
 'scity',
 'scoun',
 'sregion',
 'sworld',
 'dcity',
 'dcoun',
 'dregion',
 'dworld',
 'iBVDsector_primarycode',
 'iBVDsector_primarycode_desc',
 'pBVDsector_primarycode',
 'pBVDsector_primarycode_desc',
 'pBVDsector_secondarycode',
 'pBVDsector_secondarycode_desc',
 'pNAICS_primarycode',
 'pNAICS_primarycode_desc',
 'pNAICS_secondarycode',
 'pNAICS_secondarycode_desc',
 'pUSSIC_primarycode',
 'pUSSIC_primarycode_desc',
 'pUSSIC_secondarycode',
 'pUSSIC_secondarycode_desc',
 'PBdesc',
 'pmotives',
 'pmarketserved',
 'newsdate',
 'rdate',
 'adate',
 'edate',
 'cdate',
 'acdate',
 'cancelleddate',
 'pdate',
 'laststatusdate',
 'lastupdatedate',
 'ncurr',
 'pjobs',
 'pjobstype',
 'prationale',
 'pcomments',
 'iNIcalssification_desc',
 'ipost',
 'icity',
 'icoun',
 'iworld',
 'itele',
 'iweb',
 'imail',
 'gpost',
 'gcity',
 'gcoun',
 'gworld',
 'gtele',
 'gweb',
 'iname_comp',
 'i_g',
 'iaddr',
 'istreet',
 'istreetno',
 'istreetnoext',
 'istreet.1',
 'street supple',
 'ipobox',
 'iTP',
 'iTD',
 'itrade_desc',
 'idesc_hist',
 'iBVDsector',
 'iBVDsector_primarycode_comp',
 'iBVDsector_primarycode_desc_comp',
 'iBVDsector_secondarycode_comp',
 'iBVDsector_secondarycode_desc_comp',
 'iNIcalssification',
 'iNAICS_2017_core',
 'iNAICS_2017_core_desc',
 'iNAICS_2017_primary',
 'iNAICS_2017_primary_desc',
 'iNAICS_2017_secondary',
 'iNAICS_2017_secondary_desc',
 'iUSSIC_core',
 'iUSSIC_core_desc',
 'iUSSIC_primary',
 'iUSSIC_primary_desc',
 'iUSSIC_secondary',
 'iUSSIC_secondary_desc',
 'peergroup',
 'peergroup_desc',
 'peergroup_size',
 'sop',
 'no_directors',
 'DM',
 'gname_comp',
 'gstateowned',
 'gticker',
 'gISO',
 'gcity_comp',
 'gNAICS',
 'gNAICS_desc',
 'gTP',
 'gTD',
 'listingstatus',
 'curr',
 'sharetype',
 'ticker',
 'SE',
 'SE_info',
 'IPO',
 'delisting_date',
 'delisting_note',
 'shares outstanding',
 'Cmcapitalization',
 'Bvshare',
 'iBVD_accountno',
 'NID_label',
 'NID_type',
 'TR_no',
 'LEI',
 'ISIN',
 'prevname',
 'Nlform',
 'DOI',
 'Lasy_avail_year',
 'Ocurr',
 'Filter year',
 'economy2',
 'economy2_d',
 'adateyear',
 'coage2017',
 'coage2019',
 'coageEntry',
 'gnameinameequals',
 'nogname',
 'indepco',
 'problematic',
 'withdrawn',
 'Know_Seeking',
 'cdh',
 'GC1',
 'GC2',
 'WBD_councode',
 'WBD_GDPg',
 'WBD_GDPpc',
 'WBD_eGDP',
 'WBD_FDI',
 'WBD_SVAasGDP',
 'WBD_RPasTP',
 'WBD_GPI',
 'WBD_co2pc',
 'WBD_pg',
 'WBD_REC',
 'WBD_UR',
 'WBD_EonE',
 'WBD_TSE %',
 'WBD_WLFP',
 'WBD_OME',
 'WBD_FE',
 'WBD_energyI',
 'WBD_MCasGDP',
 'WBD_PHE',
 'WBD_AP',
 'WBD_MPD',
 'WBD_ISpermil',
 'WBD_ATR',
 'WBD_PCT',
 'WBD_GINI',
 'WBD_discloserI',
 'WBD_bankasSOC',
 'WBD_HTE',
 'WBD_ITE',
 'WBD_ITR',
 'WBD_leadtimeE',
 'WBD_MT',
 'WBD_strengthLR',
 'WBD_startup_procedures',
 'WBD_TRCP',
 'WBD_IH',
 'WBD_NBF',
 'WBD_RandDspending',
 'WBD_patentapps',
 'WBD_TMapps',
 'WBD_researchersRD',
 'WBD_year',
 'WBD_councode_d',
 'WBD_GDPg_d',
 'WBD_GDPpc_d',
 'WBD_eGDP_d',
 'WBD_FDI_d',
 'WBD_SVAasGDP_d',
 'WBD_RPasTP_d',
 'WBD_GPI_d',
 'WBD_co2pc_d',
 'WBD_pg_d',
 'WBD_REC_d',
 'WBD_UR_d',
 'WBD_EonE_d',
 'WBD_TSE %_d',
 'WBD_WLFP_d',
 'WBD_OME_d',
 'WBD_FE_d',
 'WBD_energyI_d',
 'WBD_MCasGDP_d',
 'WBD_PHE_d',
 'WBD_AP_d',
 'WBD_MPD_d',
 'WBD_ISpermil_d',
 'WBD_ATR_d',
 'WBD_PCT_d',
 'WBD_GINI_d',
 'WBD_discloserI_d',
 'WBD_bankasSOC_d',
 'WBD_HTE_d',
 'WBD_ITE_d',
 'WBD_ITR_d',
 'WBD_leadtimeE_d',
 'WBD_MT_d',
 'WBD_strengthLR_d',
 'WBD_startup_procedures_d',
 'WBD_TRCP_d',
 'WBD_IH_d',
 'WBD_NBF_d',
 'WBD_RandDspending_d',
 'WBD_patentapps_d',
 'WBD_TMapps_d',
 'WBD_researchersRD_d',
 'WBD_year_d',
 'WGI_VA_d',
 'WGI_pstabilityNV_d',
 'WGI_GE_d',
 'WGI_RQ_d',
 'WGI_RL_d',
 'WGI_CC_d',
 'WGI_VA',
 'WGI_pstabilityNV',
 'WGI_GE',
 'WGI_RQ',
 'WGI_RL',
 'WGI_CC',
 'ipri_d',
 'ipri',
 'adate_year',
 'oper_turnover',
 'PL_beforetax',
 'wcapital',
 'cash',
 'TLE',
 'ST_debt',
 'LT_debt',
 'empl',
 'EXP',
 'cost_empl',
 'RD',
 'cashflow',
 'EBITDA',
 'profit_margin',
 'ER_OR',
 'RD_OR',
 'current_ratio',
 'iliquidity_ratio',
 'profit_empl',
 'OR_empl',
 'cost_empl_OR',
 'gBVDid_comp',
 'MP_current',
 'MP_high',
 'MP_low',
 'Eshare',
 'nvalue',
 'mcapital',
 'CF_share',
 'expen_share',
 'EPS',
 'OperPS',
 'OPPS',
 'DPS',
 'BVPS',
 'TBVPS',
 'LTLPS',
 'WCPS',
 'rdate_year']

In [103]:
web_col = [col for col in website_proj.columns ]
web_col

['Unnamed: 0',
 'Unnamed: 0.1',
 'pheadline',
 'pnumber',
 'ptype',
 'pstatus',
 'iexpen',
 'PBD',
 'iname',
 'iBVDid',
 'gname',
 'gBVDid',
 'pname',
 'scity',
 'scoun',
 'sregion',
 'sworld',
 'dcity',
 'dcoun',
 'dregion',
 'dworld',
 'iBVDsector_primarycode',
 'iBVDsector_primarycode_desc',
 'pBVDsector_primarycode',
 'pBVDsector_primarycode_desc',
 'pBVDsector_secondarycode',
 'pBVDsector_secondarycode_desc',
 'pNAICS_primarycode',
 'pNAICS_primarycode_desc',
 'pNAICS_secondarycode',
 'pNAICS_secondarycode_desc',
 'pUSSIC_primarycode',
 'pUSSIC_primarycode_desc',
 'pUSSIC_secondarycode',
 'pUSSIC_secondarycode_desc',
 'PBdesc',
 'pmotives',
 'pmarketserved',
 'newsdate',
 'rdate',
 'adate',
 'edate',
 'cdate',
 'acdate',
 'cancelleddate',
 'pdate',
 'laststatusdate',
 'lastupdatedate',
 'ncurr',
 'pjobs',
 'pjobstype',
 'prationale',
 'pcomments',
 'iNIcalssification_desc',
 'ipost',
 'icity',
 'icoun',
 'iworld',
 'itele',
 'iweb',
 'imail',
 'gpost',
 'gcity',
 'gcoun',
 'gworld',
 'gtele',
 'gweb',
 'iname_comp',
 'i_g',
 'iaddr',
 'istreet',
 'istreetno',
 'istreetnoext',
 'istreet.1',
 'street supple',
 'ipobox',
 'iTP',
 'iTD',
 'itrade_desc',
 'idesc_hist',
 'iBVDsector',
 'iBVDsector_primarycode_comp',
 'iBVDsector_primarycode_desc_comp',
 'iBVDsector_secondarycode_comp',
 'iBVDsector_secondarycode_desc_comp',
 'iNIcalssification',
 'iNAICS_2017_core',
 'iNAICS_2017_core_desc',
 'iNAICS_2017_primary',
 'iNAICS_2017_primary_desc',
 'iNAICS_2017_secondary',
 'iNAICS_2017_secondary_desc',
 'iUSSIC_core',
 'iUSSIC_core_desc',
 'iUSSIC_primary',
 'iUSSIC_primary_desc',
 'iUSSIC_secondary',
 'iUSSIC_secondary_desc',
 'peergroup',
 'peergroup_desc',
 'peergroup_size',
 'sop',
 'oper_turnover',
 'PL_beforetax',
 'wcapital',
 'cash',
 'TLE',
 'ST_debt',
 'LT_debt',
 'empl',
 'EXP',
 'cost_empl',
 'RD',
 'cashflow',
 'EBITDA',
 'profit_margin',
 'ER_OR',
 'RD_OR',
 'current_ratio',
 'iliquidity_ratio',
 'profit_empl',
 'OR_empl',
 'cost_empl_OR',
 'no_directors',
 'DM',
 'gname_comp',
 'gBVDid_comp',
 'gstateowned',
 'gticker',
 'gISO',
 'gcity_comp',
 'gNAICS',
 'gNAICS_desc',
 'gTP',
 'gTD',
 'listingstatus',
 'curr',
 'sharetype',
 'ticker',
 'nvalue',
 'SE',
 'SE_info',
 'IPO',
 'delisting_date',
 'delisting_note',
 'MP_current',
 'MP_high',
 'MP_low',
 'shares outstanding',
 'Cmcapitalization',
 'Eshare',
 'Bvshare',
 'mcapital',
 'EPS',
 'CF_share',
 'expen_share',
 'OperPS',
 'OPPS',
 'DPS',
 'BVPS',
 'TBVPS',
 'LTLPS',
 'WCPS',
 'iBVD_accountno',
 'NID_label',
 'NID_type',
 'TR_no',
 'LEI',
 'ISIN',
 'prevname',
 'Nlform',
 'DOI',
 'Lasy_avail_year',
 'Ocurr',
 'Filter year',
 'economy2',
 'economy2_d',
 'adateyear',
 'coage2017',
 'coage2019',
 'coageEntry',
 'gnameinameequals',
 'nogname',
 'indepco',
 'problematic',
 'withdrawn',
 'Know_Seeking',
 'WBD_councode',
 'WBD_GDPg',
 'WBD_GDPpc',
 'WBD_eGDP',
 'WBD_FDI',
 'WBD_SVAasGDP',
 'WBD_RPasTP',
 'WBD_GPI',
 'WBD_co2pc',
 'WBD_pg',
 'WBD_REC',
 'WBD_UR',
 'WBD_EonE',
 'WBD_TSE %',
 'WBD_WLFP',
 'WBD_OME',
 'WBD_energyI',
 'WBD_MCasGDP',
 'WBD_PHE',
 'WBD_AP',
 'WBD_MPD',
 'WBD_ISpermil',
 'WBD_ATR',
 'WBD_PCT',
 'WBD_GINI',
 'WBD_discloserI',
 'WBD_bankasSOC',
 'WBD_HTE',
 'WBD_ITE',
 'WBD_ITR',
 'WBD_leadtimeE',
 'WBD_MT',
 'WBD_strengthLR',
 'WBD_startup_procedures',
 'WBD_IH',
 'WBD_NBF',
 'WBD_RandDspending',
 'WBD_patentapps',
 'WBD_TMapps',
 'WBD_researchersRD',
 'WBD_FE',
 'WBD_year',
 'WBD_councode_d',
 'WBD_GDPg_d',
 'WBD_GDPpc_d',
 'WBD_eGDP_d',
 'WBD_FDI_d',
 'WBD_SVAasGDP_d',
 'WBD_RPasTP_d',
 'WBD_GPI_d',
 'WBD_co2pc_d',
 'WBD_pg_d',
 'WBD_REC_d',
 'WBD_UR_d',
 'WBD_EonE_d',
 'WBD_TSE %_d',
 'WBD_WLFP_d',
 'WBD_OME_d',
 'WBD_energyI_d',
 'WBD_MCasGDP_d',
 'WBD_PHE_d',
 'WBD_AP_d',
 'WBD_MPD_d',
 'WBD_ISpermil_d',
 'WBD_ATR_d',
 'WBD_PCT_d',
 'WBD_GINI_d',
 'WBD_discloserI_d',
 'WBD_bankasSOC_d',
 'WBD_HTE_d',
 'WBD_ITE_d',
 'WBD_ITR_d',
 'WBD_leadtimeE_d',
 'WBD_MT_d',
 'WBD_strengthLR_d',
 'WBD_startup_procedures_d',
 'WBD_IH_d',
 'WBD_NBF_d',
 'WBD_RandDspending_d',
 'WBD_patentapps_d',
 'WBD_TMapps_d',
 'WBD_researchersRD_d',
 'WBD_FE_d',
 'WBD_year_d',
 'WGI_CC',
 'WGI_GE',
 'WGI_RL',
 'WGI_RQ',
 'WGI_VA',
 'WGI_pstabilityNV',
 'WGI_CC_d',
 'WGI_GE_d',
 'WGI_RL_d',
 'WGI_RQ_d',
 'WGI_VA_d',
 'WGI_pstabilityNV_d',
 'cdh',
 'GC1',
 'GC2',
 'ipri_d',
 'ipri']

In [106]:
p_col = [col for col in proj.columns ]
p_col

['Unnamed: 0',
 'pheadline',
 'pnumber',
 'ptype',
 'pstatus',
 'iexpen',
 'PBD',
 'iname',
 'iBVDid',
 'gname',
 'gBVDid',
 'pname',
 'scity',
 'scoun',
 'sregion',
 'sworld',
 'dcity',
 'dcoun',
 'dregion',
 'dworld',
 'iBVDsector_primarycode',
 'iBVDsector_primarycode_desc',
 'pBVDsector_primarycode',
 'pBVDsector_primarycode_desc',
 'pBVDsector_secondarycode',
 'pBVDsector_secondarycode_desc',
 'pNAICS_primarycode',
 'pNAICS_primarycode_desc',
 'pNAICS_secondarycode',
 'pNAICS_secondarycode_desc',
 'pUSSIC_primarycode',
 'pUSSIC_primarycode_desc',
 'pUSSIC_secondarycode',
 'pUSSIC_secondarycode_desc',
 'PBdesc',
 'pmotives',
 'pmarketserved',
 'newsdate',
 'rdate',
 'adate',
 'edate',
 'cdate',
 'acdate',
 'cancelleddate',
 'pdate',
 'laststatusdate',
 'lastupdatedate',
 'ncurr',
 'pjobs',
 'pjobstype',
 'prationale',
 'pcomments',
 'iNIcalssification_desc',
 'ipost',
 'icity',
 'icoun',
 'iworld',
 'itele',
 'iweb',
 'imail',
 'gpost',
 'gcity',
 'gcoun',
 'gworld',
 'gtele',
 'gweb',
 'iname_comp',
 'i_g',
 'iaddr',
 'istreet',
 'istreetno',
 'istreetnoext',
 'istreet.1',
 'street supple',
 'ipobox',
 'iTP',
 'iTD',
 'itrade_desc',
 'idesc_hist',
 'iBVDsector',
 'iBVDsector_primarycode_comp',
 'iBVDsector_primarycode_desc_comp',
 'iBVDsector_secondarycode_comp',
 'iBVDsector_secondarycode_desc_comp',
 'iNIcalssification',
 'iNAICS_2017_core',
 'iNAICS_2017_core_desc',
 'iNAICS_2017_primary',
 'iNAICS_2017_primary_desc',
 'iNAICS_2017_secondary',
 'iNAICS_2017_secondary_desc',
 'iUSSIC_core',
 'iUSSIC_core_desc',
 'iUSSIC_primary',
 'iUSSIC_primary_desc',
 'iUSSIC_secondary',
 'iUSSIC_secondary_desc',
 'peergroup',
 'peergroup_desc',
 'peergroup_size',
 'sop',
 'no_directors',
 'DM',
 'gname_comp',
 'gstateowned',
 'gticker',
 'gISO',
 'gcity_comp',
 'gNAICS',
 'gNAICS_desc',
 'gTP',
 'gTD',
 'listingstatus',
 'curr',
 'sharetype',
 'ticker',
 'SE',
 'SE_info',
 'IPO',
 'delisting_date',
 'delisting_note',
 'shares outstanding',
 'Cmcapitalization',
 'Bvshare',
 'iBVD_accountno',
 'NID_label',
 'NID_type',
 'TR_no',
 'LEI',
 'ISIN',
 'prevname',
 'Nlform',
 'DOI',
 'Lasy_avail_year',
 'Ocurr',
 'Filter year',
 'economy2',
 'economy2_d',
 'adateyear',
 'coage2017',
 'coage2019',
 'coageEntry',
 'gnameinameequals',
 'nogname',
 'indepco',
 'problematic',
 'withdrawn',
 'Know_Seeking',
 'cdh',
 'GC1',
 'GC2',
 'WBD_councode',
 'WBD_GDPg',
 'WBD_GDPpc',
 'WBD_eGDP',
 'WBD_FDI',
 'WBD_SVAasGDP',
 'WBD_RPasTP',
 'WBD_GPI',
 'WBD_co2pc',
 'WBD_pg',
 'WBD_REC',
 'WBD_UR',
 'WBD_EonE',
 'WBD_TSE %',
 'WBD_WLFP',
 'WBD_OME',
 'WBD_FE',
 'WBD_energyI',
 'WBD_MCasGDP',
 'WBD_PHE',
 'WBD_AP',
 'WBD_MPD',
 'WBD_ISpermil',
 'WBD_ATR',
 'WBD_PCT',
 'WBD_GINI',
 'WBD_discloserI',
 'WBD_bankasSOC',
 'WBD_HTE',
 'WBD_ITE',
 'WBD_ITR',
 'WBD_leadtimeE',
 'WBD_MT',
 'WBD_strengthLR',
 'WBD_startup_procedures',
 'WBD_TRCP',
 'WBD_IH',
 'WBD_NBF',
 'WBD_RandDspending',
 'WBD_patentapps',
 'WBD_TMapps',
 'WBD_researchersRD',
 'WBD_year',
 'WBD_councode_d',
 'WBD_GDPg_d',
 'WBD_GDPpc_d',
 'WBD_eGDP_d',
 'WBD_FDI_d',
 'WBD_SVAasGDP_d',
 'WBD_RPasTP_d',
 'WBD_GPI_d',
 'WBD_co2pc_d',
 'WBD_pg_d',
 'WBD_REC_d',
 'WBD_UR_d',
 'WBD_EonE_d',
 'WBD_TSE %_d',
 'WBD_WLFP_d',
 'WBD_OME_d',
 'WBD_FE_d',
 'WBD_energyI_d',
 'WBD_MCasGDP_d',
 'WBD_PHE_d',
 'WBD_AP_d',
 'WBD_MPD_d',
 'WBD_ISpermil_d',
 'WBD_ATR_d',
 'WBD_PCT_d',
 'WBD_GINI_d',
 'WBD_discloserI_d',
 'WBD_bankasSOC_d',
 'WBD_HTE_d',
 'WBD_ITE_d',
 'WBD_ITR_d',
 'WBD_leadtimeE_d',
 'WBD_MT_d',
 'WBD_strengthLR_d',
 'WBD_startup_procedures_d',
 'WBD_TRCP_d',
 'WBD_IH_d',
 'WBD_NBF_d',
 'WBD_RandDspending_d',
 'WBD_patentapps_d',
 'WBD_TMapps_d',
 'WBD_researchersRD_d',
 'WBD_year_d',
 'WGI_VA_d',
 'WGI_pstabilityNV_d',
 'WGI_GE_d',
 'WGI_RQ_d',
 'WGI_RL_d',
 'WGI_CC_d',
 'WGI_VA',
 'WGI_pstabilityNV',
 'WGI_GE',
 'WGI_RQ',
 'WGI_RL',
 'WGI_CC',
 'ipri_d',
 'ipri',
 'adate_year',
 'oper_turnover',
 'PL_beforetax',
 'wcapital',
 'cash',
 'TLE',
 'ST_debt',
 'LT_debt',
 'empl',
 'EXP',
 'cost_empl',
 'RD',
 'cashflow',
 'EBITDA',
 'profit_margin',
 'ER_OR',
 'RD_OR',
 'current_ratio',
 'iliquidity_ratio',
 'profit_empl',
 'OR_empl',
 'cost_empl_OR',
 'gBVDid_comp',
 'MP_current',
 'MP_high',
 'MP_low',
 'Eshare',
 'nvalue',
 'mcapital',
 'CF_share',
 'expen_share',
 'EPS',
 'OperPS',
 'OPPS',
 'DPS',
 'BVPS',
 'TBVPS',
 'LTLPS',
 'WCPS',
 'rdate_year']

In [46]:
website_proj.head()

,Unnamed: 0,Unnamed: 0.1,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,...,WGI_GE_d,WGI_RL_d,WGI_RQ_d,WGI_VA_d,WGI_pstabilityNV_d,cdh,GC1,GC2,ipri_d,ipri
0,0,0,"BayWa to expand sales office in Edinburgh, Sco...",999379749,Expansion,Completed Assumed,1.91,Sales Office,BAYWA RE RENEWABLE ENERGY GMBH,DE8170725443,...,1.62673,1.889571,1.825786,1.27579,0.415348,1.472825,0,4,7800,7800
1,1,1,Action Nederland has opened 68 discount depart...,999168837,New,Completed,n.a.,Retail,ACTION NEDERLAND BV,NL37112677,...,1.437053,1.413319,1.129694,1.206558,0.106706,5.215652,n.a.,n.a.,7209,7905
2,2,2,Sanofi S.A. opens Pharmaceuticals Manufacturin...,998452771,Expansion,Completed,60.21,Manufacturing,SANOFI SA,FR395030844,...,1.737117,1.795014,1.723078,1.421902,0.699824,4.270039,n.a.,n.a.,7607,7209
3,3,3,TRIMAR RETAIL A/S opens Textiles Retail projec...,995690726,New,Completed,1.31,Retail,TRIMAR RETAIL A/S,DK30826809,...,1.737117,1.795014,1.723078,1.421902,0.699824,8.870605,1,2,7607,7894
4,4,4,Bestseller to open Selected clothing store in ...,995570638,New,Completed Assumed,1.31,Retail,BESTSELLER A/S,DK88216512,...,1.533349,1.774915,1.818874,1.334583,0.908455,8.076731,0,3,7431,7894

In [102]:
website_proj_col = website_proj.columns.sort_values()
website_proj_col.difference(proj.columns.sort_values())

Index([], dtype='object')

In [7]:
len(website_proj)

87231

In [8]:
proj.shape

(86888, 292)

In [14]:
website_proj.loc[website_proj.adateyear.isin([2014,2015,2016,2017,2018,2019])]

,Unnamed: 0,Unnamed: 0.1,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,...,WGI_GE_d,WGI_RL_d,WGI_RQ_d,WGI_VA_d,WGI_pstabilityNV_d,cdh,GC1,GC2,ipri_d,ipri
0,0,0,"BayWa to expand sales office in Edinburgh, Sco...",999379749,Expansion,Completed Assumed,1.91,Sales Office,BAYWA RE RENEWABLE ENERGY GMBH,DE8170725443,...,1.62673,1.889571,1.825786,1.27579,0.415348,1.472825,0,4,7800,7800
1,1,1,Action Nederland has opened 68 discount depart...,999168837,New,Completed,n.a.,Retail,ACTION NEDERLAND BV,NL37112677,...,1.437053,1.413319,1.129694,1.206558,0.106706,5.215652,n.a.,n.a.,7209,7905
2,2,2,Sanofi S.A. opens Pharmaceuticals Manufacturin...,998452771,Expansion,Completed,60.21,Manufacturing,SANOFI SA,FR395030844,...,1.737117,1.795014,1.723078,1.421902,0.699824,4.270039,n.a.,n.a.,7607,7209
3,3,3,TRIMAR RETAIL A/S opens Textiles Retail projec...,995690726,New,Completed,1.31,Retail,TRIMAR RETAIL A/S,DK30826809,...,1.737117,1.795014,1.723078,1.421902,0.699824,8.870605,1,2,7607,7894
4,4,4,Bestseller to open Selected clothing store in ...,995570638,New,Completed Assumed,1.31,Retail,BESTSELLER A/S,DK88216512,...,1.533349,1.774915,1.818874,1.334583,0.908455,8.076731,0,3,7431,7894
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87207,87207,87207,Xiaomi planning to open mobile phone and acces...,583784668,New,Completed Assumed,8.33,Retail,XIAOMI INC.,CN9366691849,...,NaN,NaN,NaN,NaN,NaN,2.910572,n.a.,n.a.,5500,5500
87208,87208,87208,Xiaomi planning to open mobile phone and acces...,508779404,New,Completed Assumed,8.33,Retail,XIAOMI INC.,CN9366691849,...,NaN,NaN,NaN,NaN,NaN,1.402872,n.a.,n.a.,5000,5500
87209,87209,87209,Xiaomi planning to open mobile phone and acces...,398928091,New,Completed Assumed,8.33,Retail,XIAOMI INC.,CN9366691849,...,NaN,NaN,NaN,NaN,NaN,4.141842,n.a.,n.a.,5300,5500
87210,87210,87210,Xiaomi planning to open mobile phone and acces...,182133117,New,Completed Assumed,8.33,Retail,XIAOMI INC.,CN9366691849,...,NaN,NaN,NaN,NaN,NaN,1.737842,n.a.,n.a.,6500,5500
87211,87211,87211,Asustek plans to open a computer manufacturing...,574169067,New,Completed Assumed,52.27,Manufacturing,ASUSTEK COMPUTER INC.,TW23638777,...,NaN,NaN,NaN,NaN,NaN,2.198084,n.a.,n.a.,3700,6900

We have eliminated proj that are either 2013 or 2009 as we are using only ata from 2014-2019

In [9]:
if len(website_proj) != len(proj):
    df_year = website_proj.loc[website_proj.adateyear.isin([2014,2015,2016,2017,2018,2019])]
    if(len(proj) == len(df_year)):
        print("The row count matches")
    else:
        print("Needs investigation")

Needs investigation

In [81]:
df_620 = proj.loc[620,['iBVDid','icoun','adateyear','i_WBD_councode','dcoun','d_WBD_councode','i_WBD_GDPg','i_WBD_GINI','i_WBD_year','d_WBD_GDPg','d_WBD_GINI','d_WBD_year','WGI_CC','WGI_VA','WGI_CC_d','WGI_VA_d','ipri','ipri_d']]
df_620

iBVDid                         US363817266
icoun             United States of America
adateyear                             2015
i_WBD_councode                         USA
dcoun                            Australia
d_WBD_councode                         AUS
i_WBD_GDPg                         2.88091
i_WBD_GINI                             NaN
i_WBD_year                          2015.0
d_WBD_GDPg                         2.19264
d_WBD_GINI                             NaN
d_WBD_year                          2015.0
WGI_CC                            1.396935
WGI_VA                            1.109821
WGI_CC_d                          1.882113
WGI_VA_d                          1.355591
ipri                                  7606
ipri_d                                7714
Name: 620, dtype: object

In [16]:
df_9100 = proj.loc[9100,['icoun','adateyear','i_WBD_councode','dcoun','d_WBD_councode','i_WBD_GDPg','i_WBD_GINI','i_WBD_year','d_WBD_GDPg','d_WBD_GINI','d_WBD_year','WGI_CC','WGI_VA','WGI_CC_d','WGI_VA_d','ipri','ipri_d']]

In [17]:
df_28100 = proj.loc[28100,['icoun','adateyear','i_WBD_councode','dcoun','d_WBD_councode','i_WBD_GDPg','i_WBD_GINI','i_WBD_year','d_WBD_GDPg','d_WBD_GINI','d_WBD_year','WGI_CC','WGI_VA','WGI_CC_d','WGI_VA_d','ipri','ipri_d']]

In [18]:
df_53897 = proj.loc[53897,['icoun','adateyear','i_WBD_councode','dcoun','d_WBD_councode','i_WBD_GDPg','i_WBD_GINI','i_WBD_year','d_WBD_GDPg','d_WBD_GINI','d_WBD_year','WGI_CC','WGI_VA','WGI_CC_d','WGI_VA_d','ipri','ipri_d']]

In [19]:
df_85606 = proj.loc[85606,['icoun','adateyear','i_WBD_councode','dcoun','d_WBD_councode','i_WBD_GDPg','i_WBD_GINI','i_WBD_year','d_WBD_GDPg','d_WBD_GINI','d_WBD_year','WGI_CC','WGI_VA','WGI_CC_d','WGI_VA_d','ipri','ipri_d']]

# Test WBD

In [20]:
wbd = pd.ExcelFile("World Bank Variables Year wise sheet.xlsx")

In [21]:
wbd_620_i_y = wbd.parse(df_620['adateyear'].astype(int).astype(str))
wbd_620_d_y = wbd.parse(df_620['adateyear'].astype(int).astype(str))

In [22]:
wbd_620_idata = wbd_620_i_y[df_620['icoun'] == wbd_620_i_y['Country Name']].iloc[0,:]

In [137]:
# wbd_620_idata = wbd_620_idata.iloc[0, :]

In [140]:
# df_620 = df_620.to_frame().T
# df_620 = df_620.iloc[0, :]

In [23]:
if wbd_620_idata['GDP_Growth'].round(4) == df_620['i_WBD_GDPg'].round(4):
    if (wbd_620_idata['GINI'].round(4) == df_620['i_WBD_GINI'].round(4)):
        print("Origin Country Data for 620 row matches")
    else:
        if(np.isnan(wbd_620_idata['GINI']) & np.isnan(df_620['i_WBD_GINI'])):
           print("Origin Country Data for 620 row matches")
        else:
          print("Check the row data. Mismatched")
else:
    print("Check the row data. Mismatched")

Origin Country Data for 620 row matches

In [24]:
wbd_620_ddata = wbd_620_d_y[df_620['dcoun'] == wbd_620_d_y['Country Name']].iloc[0,:]
if wbd_620_ddata['GDP_Growth'].round(4) == df_620['d_WBD_GDPg'].round(4):
    if (wbd_620_ddata['GINI'].round(4) == df_620['d_WBD_GINI'].round(4)):
        print("Destination Country Data for 620 row matches")
    else:
        if(np.isnan(wbd_620_ddata['GINI']) & np.isnan(df_620['d_WBD_GINI'])):
           print("Destination Country Data for 620 row matches")
        else: 
           print("Check the row data. Mismatched")

Destination Country Data for 620 row matches

In [171]:
df_9100

icoun             United States of America
i_WBD_councode                         USA
dcoun                       United Kingdom
d_WBD_councode                         GBR
i_WBD_GDPg                         2.88091
i_WBD_GINI                             NaN
i_WBD_year                            2015
d_WBD_GDPg                         2.35552
d_WBD_GINI                            33.2
d_WBD_year                            2015
WGI_CC                             1.39693
WGI_VA                             1.10982
WGI_CC_d                           1.87637
WGI_VA_d                           1.29784
ipri                                  7606
ipri_d                                7690
Name: 9100, dtype: object

In [25]:
wbd_9100_i_y = wbd.parse(df_9100['adateyear'].astype(int).astype(str))
wbd_9100_d_y = wbd.parse(df_9100['adateyear'].astype(int).astype(str))
wbd_9100_idata = wbd_9100_i_y[df_9100['icoun'] == wbd_9100_i_y['Country Name']].iloc[0,:]
if wbd_9100_idata['GDP_Growth'].round(4) == df_9100['i_WBD_GDPg'].round(4):
    if (wbd_9100_idata['GINI'].round(4) == df_9100['i_WBD_GINI'].round(4)):
        print("Origin Country Data for 9100 row matches")
    else:
        if(np.isnan(wbd_9100_idata['GINI']) & np.isnan(df_9100['i_WBD_GINI'])):
           print("Origin Country Data for 9000 row matches")
        else: 
           print("Check the row data. Mismatched")
else:
    print("Check the row data. Mismatched")

Origin Country Data for 9100 row matches

In [26]:
wbd_9100_ddata = wbd_9100_d_y[df_9100['dcoun'] == wbd_9100_d_y['Country Name']].iloc[0,:]
if wbd_9100_ddata['GDP_Growth'].round(4) == df_9100['d_WBD_GDPg'].round(4):
    if (wbd_9100_ddata['GINI'].round(4) == df_9100['d_WBD_GINI'].round(4)):
        print("Destination Country Data for 9100 row matches")
    else:
        if(np.isnan(wbd_9100_ddata['GINI']) & np.isnan(df_9100['d_WBD_GINI'])):
           print("Destination Country Data for 9100 row matches")
        else: 
           print("Check the row data. Mismatched")
else:
    print("Check the row data. Mismatched")

Destination Country Data for 9100 row matches

In [27]:
wbd_28100_i_y = wbd.parse(df_28100['i_WBD_year'].astype(int).astype(str))
wbd_28100_d_y = wbd.parse(df_28100['d_WBD_year'].astype(int).astype(str))

In [28]:
wbd_28100_idata = wbd_28100_i_y[df_28100['icoun'] == wbd_28100_i_y['Country Name']].iloc[0,:]
if wbd_28100_idata['GDP_Growth'].round(4) == df_28100['i_WBD_GDPg'].round(4):
    if (wbd_28100_idata['GINI'].round(4) == df_28100['i_WBD_GINI'].round(4)):
        print("Input Country Data for 28100 row matches")
    else:
        if(np.isnan(wbd_28100_idata['GINI']) & np.isnan(df_28100['i_WBD_GINI'])):
           print("Input Country Data for 28100 row matches")
        else:
          print("Check the row data. Mismatched")
else:
    print("Check the row data. Mismatched")

Input Country Data for 28100 row matches

In [29]:
wbd_28100_ddata = wbd_28100_d_y[df_28100['dcoun'] == wbd_28100_d_y['Country Name']].iloc[0,:]
if wbd_28100_ddata['GDP_Growth'].round(4) == df_28100['d_WBD_GDPg'].round(4):
    if (wbd_28100_ddata['GINI'].round(4) == df_28100['d_WBD_GINI'].round(4)):
        print("Destination Country Data for 28100 row matches")
    else:
        if(np.isnan(wbd_28100_ddata['GINI']) & np.isnan(df_28100['d_WBD_GINI'])):
           print("Destination Country Data for 28100 row matches")
        else: 
           print("Check the row data. Mismatched")
else:
    print("Check the row data. Mismatched")

Destination Country Data for 28100 row matches

In [30]:
wbd_85606_i_y = wbd.parse(df_85606['adateyear'].astype(int).astype(str))
wbd_85606_d_y = wbd.parse(df_85606['adateyear'].astype(int).astype(str))

In [31]:
wbd_85606_idata = wbd_85606_i_y[df_85606['icoun'] == wbd_85606_i_y['Country Name']].iloc[0,:]
if wbd_85606_idata['GDP_Growth'].round(4) == df_85606['i_WBD_GDPg'].round(4):
    if (wbd_85606_idata['GINI'].round(4) == df_85606['i_WBD_GINI'].round(4)):
        print("Input Country Data for 85606 row matches")
    else:
        if(np.isnan(wbd_85606_idata['GINI']) & np.isnan(df_85606['i_WBD_GINI'])):
           print("Input Country Data for 85606 row matches")
        else:
          print("Check the row data. Mismatched")
else:
    print("Check the row data. Mismatched")

Input Country Data for 85606 row matches

In [33]:
df_85606

icoun             United Kingdom
adateyear                   2019
i_WBD_councode               GBR
dcoun             Western Europe
d_WBD_councode               NaN
i_WBD_GDPg              1.408642
i_WBD_GINI                   NaN
i_WBD_year                2019.0
d_WBD_GDPg                   NaN
d_WBD_GINI                   NaN
d_WBD_year                   NaN
WGI_CC                  1.774812
WGI_VA                  1.263675
WGI_CC_d                     NaN
WGI_VA_d                     NaN
ipri                        8044
ipri_d                       NaN
Name: 85606, dtype: object

In [32]:
wbd_85606_ddata = wbd_85606_d_y[df_85606['dcoun'] == wbd_85606_d_y['Country Name']].iloc[0,:]
if wbd_85606_ddata['GDP_Growth'].round(4) == df_85606['d_WBD_GDPg'].round(4):
    if (wbd_85606_ddata['GINI'].round(4) == df_85606['d_WBD_GINI'].round(4)):
        print("Destination Country Data for 85606 row matches")
    else:
        if(np.isnan(wbd_85606_ddata['GINI']) & np.isnan(df_85606['d_WBD_GINI'])):
           print("Destination Country Data for 85606 row matches")
        else: 
           print("Check the row data. Mismatched")
else:
    print("Check the row data. Mismatched")

IndexError: single positional indexer is out-of-bounds

# Test WGI

In [34]:
wgi = pd.ExcelFile("WGI_yearwise.xlsx")

In [35]:
wgi_620_i_y = wgi.parse(df_620['adateyear'].astype(int).astype(str))
wgi_620_d_y = wgi.parse(df_620['adateyear'].astype(int).astype(str))

In [36]:
wgi_620_idata = wgi_620_i_y[df_620['icoun'] == wgi_620_i_y['Countr']].iloc[0,:]
if ((wgi_620_idata['WGI_CC'].round(4) == df_620['WGI_CC'].round(4)) | (np.isnan(wgi_620_idata['WGI_CC']) & np.isnan(df_620['WGI_CC']))):
    if ((wgi_620_idata['WGI_VA'].round(4) == df_620['WGI_VA'].round(4)) | (np.isnan(wgi_620_idata['WGI_VA']) & np.isnan(df_620['WGI_VA']))):
        print("Input Country Data for 620 row matches")
    else:
          print("Check the row data. Mismatched")
else:
    print("Check the row data. Mismatched")

Input Country Data for 620 row matches

In [37]:
wgi_620_ddata = wgi_620_i_y[df_620['dcoun'] == wgi_620_i_y['Countr']].iloc[0,:]
if ((wgi_620_ddata['WGI_CC'].round(4) == df_620['WGI_CC_d'].round(4)) | (np.isnan(wgi_620_ddata['WGI_CC']) & np.isnan(df_620['WGI_CC_d']))):
    if ((wgi_620_ddata['WGI_VA'].round(4) == df_620['WGI_VA_d'].round(4)) |(np.isnan(wgi_620_ddata['WGI_VA']) & np.isnan(df_620['WGI_VA_d']))):
        print("Destination Country Data for 620 row matches")
    else:
          print("Check the row data. Mismatched")
else:
    print("Check the row data. Mismatched")

Destination Country Data for 620 row matches

In [38]:
wgi_85606_i_y = wgi.parse(df_85606['adateyear'].astype(int).astype(str))
wgi_85606_d_y = wgi.parse(df_85606['adateyear'].astype(int).astype(str))

In [39]:
wgi_85606_idata = wgi_85606_i_y[df_85606['icoun'] == wgi_85606_i_y['Countr']].iloc[0,:]
if ((wgi_85606_idata['WGI_CC'].round(4) == df_85606['WGI_CC'].round(4)) | (np.isnan(wgi_85606_idata['WGI_CC']) & np.isnan(df_85606['WGI_CC']))):
    if ((wgi_85606_idata['WGI_VA'].round(4) == df_85606['WGI_VA'].round(4)) | (np.isnan(wgi_85606_idata['WGI_VA']) & np.isnan(df_85606['WGI_VA']))):
        print("Input Country Data for 85606 row matches")
    else:
          print("Check the row data. Mismatched")
else:
    print("Check the row data. Mismatched")

Input Country Data for 85606 row matches

In [40]:
wgi_85606_ddata = wgi_85606_i_y[df_85606['dcoun'] == wgi_85606_i_y['Countr']].iloc[0,:]
if ((wgi_85606_ddata['WGI_CC'].round(4) == df_85606['WGI_CC_d'].round(4)) | (np.isnan(wgi_85606_ddata['WGI_CC']) & np.isnan(df_85606['WGI_CC_d']))):
    if ((wgi_85606_ddata['WGI_VA'].round(4) == df_85606['WGI_VA_d'].round(4)) |(np.isnan(wgi_85606_ddata['WGI_VA']) & np.isnan(df_85606['WGI_VA_d']))):
        print("Destination Country Data for 85606 row matches")
    else:
          print("Check the row data. Mismatched")
else:
    print("Check the row data. Mismatched")

IndexError: single positional indexer is out-of-bounds

# Test IPRI

In [41]:
ipri = pd.read_excel("International Property Rights Index.xlsx")
ipri

,Countries,Score 2019,Rank 2019,Score 2018,Rank 2018,Score 2017,Rank 2017,Score 2016,Rank 2016,Score 2015,...,Rank 2011,Score 2010,Rank 2010,Score 2009,Rank 2009,Score 2008,Rank 2008,Score 2007,Rank 2007,n.a.
0,Albania,4546,106,4525,102,3822,118,4004,111,3713,...,97,3799,106,3501,103,n.a.,n.a.,n.a.,n.a.,n.a.
1,Algeria,4435,108,4140,113,4160,106,4109,106,4079,...,103,3725,109,3973,91,n.a.,n.a.,n.a.,n.a.,n.a.
2,Angola,3115,126,n.a,n.a,n.a,n.a,n.a,n.a,n.a,...,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a
3,Argentina,5087,82,5025,79,4568,97,4122,103,3998,...,86,4361,83,4342,79,3800,54,3846,50,n.a.
4,Armenia,4812,93,4714,95,4126,107,4203,102,4261,...,105,3839,104,3681,98,n.a.,n.a.,n.a.,n.a.,n.a.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,Vietnam,5084,83,5075,76,4930,77,4655,84,4490,...,78,4536,78,4392,77,n.a.,n.a.,n.a.,n.a.,n.a.
128,"Yemen, Rep.",2671,129,2792,124,2728,127,n.a.,n.a.,2785,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.
129,Zambia,4592,102,4732,92,4917,79,4791,76,4735,...,82,4511,79,4009,89,n.a.,n.a.,n.a.,n.a.,n.a.
130,Zimbabwe,3738,123,3844,117,3760,120,3402,122,3238,...,121,3178,116,3183,111,n.a.,n.a.,n.a.,n.a.,n.a.
131,n.a,n.a,n.a,n.a,n.a,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.

In [42]:
ipri_cols =  [col for col in ipri if col.startswith('Score')]


ipri_selected = ipri[ipri_cols]

ipri_selected = ipri_selected.rename(columns = lambda x: x.split(' ')[1])
ipri_selected['Countries'] = ipri['Countries']
ipri_selected

,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,Countries
0,4546,4525,3822,4004,3713,n.a.,4200,4400,4400,3799,3501,n.a.,n.a.,Albania
1,4435,4140,4160,4109,4079,4100,3700,4000,4300,3725,3973,n.a.,n.a.,Algeria
2,3115,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,Angola
3,5087,5025,4568,4122,3998,4400,4600,4600,4700,4361,4342,3800,3846,Argentina
4,4812,4714,4126,4203,4261,n.a.,4600,4400,4200,3839,3681,n.a.,n.a.,Armenia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,5084,5075,4930,4655,4490,4800,4700,4700,4900,4536,4392,n.a.,n.a.,Vietnam
128,2671,2792,2728,n.a.,2785,n.a.,n.a.,3000,n.a.,n.a.,n.a.,n.a.,n.a.,"Yemen, Rep."
129,4592,4732,4917,4791,4735,5100,4900,4700,4800,4511,4009,n.a.,n.a.,Zambia
130,3738,3844,3760,3402,3238,3800,3800,3700,3500,3178,3183,n.a.,n.a.,Zimbabwe
131,n.a,n.a,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a

In [43]:
ipri_s = ipri_selected[['Countries',df_85606['adateyear'].astype(int).astype(str)]]
ipri_s = ipri_s.rename(columns={df_85606['adateyear'].astype(int).astype(str):'ipri'})
ipri_s

       Countries  ipri
0        Albania  4546
1        Algeria  4435
2         Angola  3115
3      Argentina  5087
4        Armenia  4812
..           ...   ...
127      Vietnam  5084
128  Yemen, Rep.  2671
129       Zambia  4592
130     Zimbabwe  3738
131          n.a   n.a

[132 rows x 2 columns]

In [44]:
ipri_icoun = ipri_s[df_85606['icoun'] == ipri_s['Countries']].iloc[0,:]

In [45]:
if (ipri_icoun['ipri'] == int(df_85606['ipri'] )):
    print("The IPRI value for origin is matching")
else:
    print("Check the Origin IPRI not matching")

The IPRI value for origin is matching

In [46]:
ipri_dcoun = ipri_s[df_85606['dcoun'] == ipri_s['Countries']].iloc[0,:]
ipri_dcoun

IndexError: single positional indexer is out-of-bounds

In [248]:
if (ipri_dcoun['ipri'] == int(df_85606['ipri_d']) ):
    print("The IPRI value for destination is matching")
else:
    print("Check the Destination IPRI not matching")

The IPRI value for destination is matching

In [256]:
ipri_s = ipri_selected[['Countries',df_620['adateyear'].astype(int).astype(str)]]
ipri_s = ipri_s.rename(columns={df_620['adateyear'].astype(int).astype(str):'ipri'})
ipri_s

       Countries  ipri
0        Albania  n.a.
1        Algeria  4100
2         Angola   n.a
3      Argentina  4400
4        Armenia  n.a.
..           ...   ...
127      Vietnam  4800
128  Yemen, Rep.  n.a.
129       Zambia  5100
130     Zimbabwe  3800
131          n.a  n.a.

[132 rows x 2 columns]

In [257]:
ipri_icoun = ipri_s[df_620['icoun'] == ipri_s['Countries']].iloc[0,:]

In [258]:
ipri_icoun

Countries    United Kingdom
ipri                   7800
Name: 123, dtype: object

In [259]:
df_620

icoun             United Kingdom
adateyear                   2014
i_WBD_councode               GBR
dcoun                      Japan
d_WBD_councode               JPN
i_WBD_GDPg               2.60748
i_WBD_GINI                    34
i_WBD_year                  2014
d_WBD_GDPg              0.374719
d_WBD_GINI                   NaN
d_WBD_year                  2014
WGI_CC                   1.73848
WGI_VA                   1.27579
WGI_CC_d                 1.69459
WGI_VA_d                 1.03609
ipri                        7800
ipri_d                      7800
Name: 620, dtype: object

In [260]:
if (ipri_icoun['ipri'] == int(df_620['ipri']) ):
    print("The IPRI value for origin is matching")
else:
    print("Check the Origin IPRI not matching")

The IPRI value for origin is matching

In [262]:
ipri_dcoun = ipri_s[df_620['dcoun'] == ipri_s['Countries']].iloc[0,:]
ipri_dcoun

Countries    Japan
ipri          7800
Name: 60, dtype: object

In [263]:
if (ipri_dcoun['ipri'] == int(df_620['ipri_d']) ):
    print("The IPRI value for destination is matching")
else:
    print("Check the Destination IPRI not matching")

The IPRI value for destination is matching

## Test Companies

In [91]:
company_data = pd.read_excel('companies_2014.xlsx',sheet_name='Results',na_values=np.NaN)

In [56]:
c_dat = company_data

In [68]:
company_data = c_dat

In [93]:
company_data.columns = [c.replace('Operating revenue (Turnover)\nm USD 2014', 'oper_turnover') for c in company_data.columns]
company_data.columns = [c.replace('P/L before tax\nm USD 2014', 'PL_beforetax') for c in company_data.columns] 
company_data.columns = [c.replace('Working capital\nm USD 2014', 'wcapital') for c in company_data.columns] 
company_data.columns = [c.replace('Short Term Debt, Net\nm USD 2014', 'ST_debt') for c in company_data.columns] 
company_data.columns = [c.replace('Long Term Debt, Net\nm USD 2014', 'LT_debt') for c in company_data.columns] 
company_data.columns = [c.replace('Number of employees\n2014', 'empl') for c in company_data.columns] 
company_data.columns = [c.replace('Research & Development expenses\nm USD 2014', 'RD') for c in company_data.columns] 
company_data.columns = [c.replace('Cash flow\nm USD 2014', 'cashflow') for c in company_data.columns]
company_data.columns = [c.replace('EBITDA\nm USD 2014', 'EBITDA') for c in company_data.columns]
company_data.columns = [c.replace('Profit margin (%)\n2014', 'profit_margin') for c in company_data.columns]
company_data.columns = [c.replace('BvD ID number', 'iBVDid') for c in company_data.columns]

In [94]:
c = [x for x in company_data.columns]
c

['Unnamed: 0',
 'Company name Latin alphabet',
 'oper_turnover',
 'PL_beforetax',
 'wcapital',
 'Cash & cash equivalent\nm USD 2014',
 'Total Liabilities and Equity\nm USD 2014',
 'ST_debt',
 'LT_debt',
 'empl',
 'Export revenue\nm USD 2014',
 'Costs of employees\nm USD 2014',
 'RD',
 'cashflow',
 'EBITDA',
 'profit_margin',
 'Export revenue / Operating revenue (%)\n2014',
 'R&D expenses / Operating revenue (%)\n2014',
 'Current ratio (x)\n2014',
 'Liquidity ratio (x)\n2014',
 'Profit per employee (th)\nth USD 2014',
 'Operating revenue per employee (th)\nth USD 2014',
 'Costs of employees / Operating revenue (%)\n2014',
 'Propensity to invest date\n2014',
 'Propensity to invest\n2014',
 'Propensity to invest score\n2014',
 'GUO - iBVDid',
 'iBVDid']

In [87]:
df_620['adateyear']

2015

In [95]:
df_620[['iBVDid','adate_year','oper_turnover','PL_beforetax','wcapital','ST_debt','LT_debt','empl','RD','cashflow','EBITDA','profit_margin','IPO']]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['adate_year', 'oper_turnover', 'PL_beforetax', 'wcapital', 'ST_debt',\n       ...\n       'RD', 'cashflow', 'EBITDA', 'profit_margin', 'IPO'],\n      dtype='object', length=12). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [96]:
df_620['iBVDid']

'US363817266'

In [98]:
company_data[company_data['iBVDid'] ==df_620['iBVDid'] ]

,Unnamed: 0,Company name Latin alphabet,oper_turnover,PL_beforetax,wcapital,Cash & cash equivalent\nm USD 2014,Total Liabilities and Equity\nm USD 2014,ST_debt,LT_debt,empl,...,Current ratio (x)\n2014,Liquidity ratio (x)\n2014,Profit per employee (th)\nth USD 2014,Operating revenue per employee (th)\nth USD 2014,Costs of employees / Operating revenue (%)\n2014,Propensity to invest date\n2014,Propensity to invest\n2014,Propensity to invest score\n2014,GUO - iBVDid,iBVDid
1981,1967.0,NUVEEN INVESTMENTS INC,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,...,n.a.,n.a.,n.a.,n.a.,n.a.,NaN,NaN,n.a.,US278313611L,US363817266