In [1]:
import numpy as np
import pandas as pd

In [2]:
def get_year_data(bmi_data,year):
    cols = [c for c in bmi_data.columns if c.startswith(year) or c.startswith('Unnamed')]
    new_df =  bmi_data[cols]
    new_df.columns= ['Country','both_sexes','male','female']
    new_df['adate_year'] = year
    return new_df[2:]

In [48]:
bmi_data = pd.read_csv("BMI_data.csv")
bmi_data.head()

,Unnamed: 0,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2
0,NaN,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great..."
1,Country,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
2,Afghanistan,4.5 [2.8-6.7],2.7 [1.1-5.4],6.2 [3.5-10.2],4.3 [2.6-6.4],2.6 [1.1-5.1],6.0 [3.3-9.8],4.1 [2.5-6.1],2.4 [1.0-4.8],5.7 [3.2-9.4]
3,Albania,22.3 [17.4-27.4],21.9 [14.9-29.4],22.8 [16.1-30.1],21.7 [17.0-26.6],21.1 [14.6-28.4],22.2 [15.9-29.2],21.1 [16.6-25.7],20.4 [14.1-27.6],21.7 [15.6-28.4]
4,Algeria,26.6 [21.7-32.0],19.4 [13.2-26.5],34.0 [26.6-41.9],25.7 [21.0-30.8],18.5 [12.7-25.3],33.0 [25.9-40.6],24.8 [20.3-29.7],17.7 [12.1-24.1],32.0 [25.2-39.4]

In [50]:
bmi_data.loc[bmi_data['Unnamed: 0'] == 'Viet Nam','Unnamed: 0'] = 'Vietnam'
bmi_data.loc[bmi_data['Unnamed: 0'] == 'Venezuela (Bolivarian Republic of)','Unnamed: 0'] = 'Venezuela'
bmi_data.loc[bmi_data['Unnamed: 0'] == 'United Kingdom of Great Britain and Northern Ireland','Unnamed: 0'] = 'United Kingdom'
bmi_data.loc[bmi_data['Unnamed: 0'] == 'Myanmar','Unnamed: 0'] = 'Myanmar/Burma'
bmi_data.loc[bmi_data['Unnamed: 0'] == "Lao People'S Democratic Republic",'Unnamed: 0'] = "Lao People's Democratic Republic"
bmi_data.loc[bmi_data['Unnamed: 0'] == 'Iran (Islamic Republic of)','Unnamed: 0'] = 'Islamic Republic of Iran'

bmi_data.loc[bmi_data['Unnamed: 0'] == "C�te d'Ivoire",'Unnamed: 0'] = "Côte D'Ivoire"
bmi_data.loc[bmi_data['Unnamed: 0'] == 'Czechia','Unnamed: 0'] = 'Czech Republic'
bmi_data.loc[bmi_data['Unnamed: 0'] == 'Bolivia (Plurinational State of)','Unnamed: 0'] = 'Bolivia'
bmi_data.loc[bmi_data['Unnamed: 0'] == 'Sao Tome and Principe','Unnamed: 0'] = 'São Tome and Principe'
bmi_data.loc[bmi_data['Unnamed: 0'] == 'Palau','Unnamed: 0'] = 'Palestinian Territories'

In [59]:
coun = bmi_data[2:][['Unnamed: 0']]

bmi_country = [c for c in coun['Unnamed: 0']]
bmi_country

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 "Côte d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Islamic Republic of Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia (Federated States of)',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar/Burma',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestinian Territories',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'North Macedonia',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'São Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Sudan (former)',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Republic of Tanzania',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [7]:
projects = pd.read_excel("Final_Projects_2020_Latest.xlsx")
projects.shape

(86888, 291)

In [56]:
projects_country = [c for c in projects['icoun'].astype(str).unique()]
projects_country.sort()
projects_country

['Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Chile',
 'China',
 'Colombia',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic',
 "Côte d'Ivoire",
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Guadeloupe',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guyana',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iraq',
 'Ireland',
 'Islamic Republic of Iran',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Macedonia (FYROM)',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Monaco',
 'Mongolia',
 'Morocco',
 'Mozambique',
 'Myanmar/Burma',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestinian Territories',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Supranational',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'São Tome and Principe',
 'Taiwan',
 'Tajikistan',
 'Thailand',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Republic of Tanzania',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Virgin Islands (British)',
 'Zambia',
 'Zimbabwe',
 'n.a.']

In [60]:
list(set(bmi_country) - set(projects_country))

['Kiribati',
 'Micronesia (Federated States of)',
 'North Macedonia',
 'Eswatini',
 'Montenegro',
 'Tonga',
 'Papua New Guinea',
 'Niger',
 'Turkmenistan',
 'Equatorial Guinea',
 'San Marino',
 'Cabo Verde',
 'Sudan (former)',
 'Saint Kitts and Nevis',
 'Niue',
 'Grenada',
 'Tuvalu',
 'Antigua and Barbuda',
 'Somalia',
 'South Sudan',
 'Burundi',
 'Haiti',
 'Sudan',
 'Timor-Leste',
 'Guinea-Bissau',
 'Suriname',
 'Chad',
 'Comoros',
 'Eritrea',
 'Solomon Islands',
 'Lesotho',
 'Yemen',
 'Cook Islands',
 'Saint Lucia',
 'Congo',
 'Nauru',
 'Afghanistan',
 'Central African Republic']

In [61]:
years = ['2014','2015','2016']
df = []

for yr in years:
    df.append(get_year_data(bmi_data,yr))

bmi_df = pd.concat(df)
print(bmi_df)

         Country        both_sexes              male            female  \
2    Afghanistan     4.1 [2.5-6.1]     2.4 [1.0-4.8]     5.7 [3.2-9.4]
3        Albania  21.1 [16.6-25.7]  20.4 [14.1-27.6]  21.7 [15.6-28.4]
4        Algeria  24.8 [20.3-29.7]  17.7 [12.1-24.1]  32.0 [25.2-39.4]
5        Andorra  27.3 [21.7-33.0]  27.0 [19.1-35.3]  27.6 [19.8-35.9]
6         Angola     6.2 [3.8-9.4]     3.1 [1.2-6.0]    9.2 [5.1-14.8]
..           ...               ...               ...               ...
192    Venezuela  25.2 [20.9-29.8]  22.1 [16.1-28.6]  28.3 [22.2-34.9]
193      Vietnam     2.1 [1.4-3.1]     1.6 [0.8-2.8]     2.6 [1.5-4.2]
194        Yemen  14.1 [10.8-17.8]    9.9 [6.0-14.8]  18.2 [13.1-24.0]
195       Zambia     6.5 [4.6-8.8]     3.0 [1.4-5.6]   10.0 [6.7-14.0]
196     Zimbabwe   12.3 [9.4-15.6]     3.7 [2.0-6.3]  20.5 [15.2-26.7]

    adate_year
2         2014
3         2014
4         2014
5         2014
6         2014
..         ...
192       2016
193       2016
194       2016
195       2016
196       2016

[585 rows x 5 columns]

<ipython-input-2-3aedba093faf>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['adate_year'] = year

In [63]:
cols = [c for c in projects.columns]
cols

['Unnamed: 0',
 'pheadline',
 'pnumber',
 'ptype',
 'pstatus',
 'iexpen',
 'PBD',
 'iname',
 'iBVDid',
 'gname',
 'gBVDid',
 'pname',
 'scity',
 'scoun',
 'sregion',
 'sworld',
 'dcity',
 'dcoun',
 'dregion',
 'dworld',
 'iBVDsector_primarycode',
 'iBVDsector_primarycode_desc',
 'pBVDsector_primarycode',
 'pBVDsector_primarycode_desc',
 'pBVDsector_secondarycode',
 'pBVDsector_secondarycode_desc',
 'pNAICS_primarycode',
 'pNAICS_primarycode_desc',
 'pNAICS_secondarycode',
 'pNAICS_secondarycode_desc',
 'pUSSIC_primarycode',
 'pUSSIC_primarycode_desc',
 'pUSSIC_secondarycode',
 'pUSSIC_secondarycode_desc',
 'PBdesc',
 'pmotives',
 'pmarketserved',
 'newsdate',
 'rdate',
 'adate',
 'edate',
 'cdate',
 'acdate',
 'cancelleddate',
 'pdate',
 'laststatusdate',
 'lastupdatedate',
 'ncurr',
 'pjobs',
 'pjobstype',
 'prationale',
 'pcomments',
 'iNIcalssification_desc',
 'ipost',
 'icity',
 'icoun',
 'iworld',
 'itele',
 'iweb',
 'imail',
 'gpost',
 'gcity',
 'gcoun',
 'gworld',
 'gtele',
 'gweb',
 'iname_comp',
 'i_g',
 'iaddr',
 'istreet',
 'istreetno',
 'istreetnoext',
 'istreet.1',
 'street supple',
 'ipobox',
 'iTP',
 'iTD',
 'itrade_desc',
 'idesc_hist',
 'iBVDsector',
 'iBVDsector_primarycode_comp',
 'iBVDsector_primarycode_desc_comp',
 'iBVDsector_secondarycode_comp',
 'iBVDsector_secondarycode_desc_comp',
 'iNIcalssification',
 'iNAICS_2017_core',
 'iNAICS_2017_core_desc',
 'iNAICS_2017_primary',
 'iNAICS_2017_primary_desc',
 'iNAICS_2017_secondary',
 'iNAICS_2017_secondary_desc',
 'iUSSIC_core',
 'iUSSIC_core_desc',
 'iUSSIC_primary',
 'iUSSIC_primary_desc',
 'iUSSIC_secondary',
 'iUSSIC_secondary_desc',
 'peergroup',
 'peergroup_desc',
 'peergroup_size',
 'sop',
 'no_directors',
 'DM',
 'gname_comp',
 'gstateowned',
 'gticker',
 'gISO',
 'gcity_comp',
 'gNAICS',
 'gNAICS_desc',
 'gTP',
 'gTD',
 'listingstatus',
 'curr',
 'sharetype',
 'ticker',
 'SE',
 'SE_info',
 'IPO',
 'delisting_date',
 'delisting_note',
 'shares outstanding',
 'Cmcapitalization',
 'Bvshare',
 'iBVD_accountno',
 'NID_label',
 'NID_type',
 'TR_no',
 'LEI',
 'ISIN',
 'prevname',
 'Nlform',
 'DOI',
 'Lasy_avail_year',
 'Ocurr',
 'Filter year',
 'economy2',
 'economy2_d',
 'adateyear',
 'coage2017',
 'coage2019',
 'coageEntry',
 'gnameinameequals',
 'nogname',
 'indepco',
 'problematic',
 'withdrawn',
 'Know_Seeking',
 'cdh',
 'GC1',
 'GC2',
 'WBD_councode',
 'WBD_GDPg',
 'WBD_GDPpc',
 'WBD_eGDP',
 'WBD_FDI',
 'WBD_SVAasGDP',
 'WBD_RPasTP',
 'WBD_GPI',
 'WBD_co2pc',
 'WBD_pg',
 'WBD_REC',
 'WBD_UR',
 'WBD_EonE',
 'WBD_TSE %',
 'WBD_WLFP',
 'WBD_OME',
 'WBD_FE',
 'WBD_energyI',
 'WBD_MCasGDP',
 'WBD_PHE',
 'WBD_AP',
 'WBD_MPD',
 'WBD_ISpermil',
 'WBD_ATR',
 'WBD_PCT',
 'WBD_GINI',
 'WBD_discloserI',
 'WBD_bankasSOC',
 'WBD_HTE',
 'WBD_ITE',
 'WBD_ITR',
 'WBD_leadtimeE',
 'WBD_MT',
 'WBD_strengthLR',
 'WBD_startup_procedures',
 'WBD_TRCP',
 'WBD_IH',
 'WBD_NBF',
 'WBD_RandDspending',
 'WBD_patentapps',
 'WBD_TMapps',
 'WBD_researchersRD',
 'WBD_year',
 'WBD_councode_d',
 'WBD_GDPg_d',
 'WBD_GDPpc_d',
 'WBD_eGDP_d',
 'WBD_FDI_d',
 'WBD_SVAasGDP_d',
 'WBD_RPasTP_d',
 'WBD_GPI_d',
 'WBD_co2pc_d',
 'WBD_pg_d',
 'WBD_REC_d',
 'WBD_UR_d',
 'WBD_EonE_d',
 'WBD_TSE %_d',
 'WBD_WLFP_d',
 'WBD_OME_d',
 'WBD_FE_d',
 'WBD_energyI_d',
 'WBD_MCasGDP_d',
 'WBD_PHE_d',
 'WBD_AP_d',
 'WBD_MPD_d',
 'WBD_ISpermil_d',
 'WBD_ATR_d',
 'WBD_PCT_d',
 'WBD_GINI_d',
 'WBD_discloserI_d',
 'WBD_bankasSOC_d',
 'WBD_HTE_d',
 'WBD_ITE_d',
 'WBD_ITR_d',
 'WBD_leadtimeE_d',
 'WBD_MT_d',
 'WBD_strengthLR_d',
 'WBD_startup_procedures_d',
 'WBD_TRCP_d',
 'WBD_IH_d',
 'WBD_NBF_d',
 'WBD_RandDspending_d',
 'WBD_patentapps_d',
 'WBD_TMapps_d',
 'WBD_researchersRD_d',
 'WBD_year_d',
 'WGI_VA_d',
 'WGI_pstabilityNV_d',
 'WGI_GE_d',
 'WGI_RQ_d',
 'WGI_RL_d',
 'WGI_CC_d',
 'WGI_VA',
 'WGI_pstabilityNV',
 'WGI_GE',
 'WGI_RQ',
 'WGI_RL',
 'WGI_CC',
 'ipri_d',
 'ipri',
 'adate_year',
 'oper_turnover',
 'PL_beforetax',
 'wcapital',
 'cash',
 'TLE',
 'ST_debt',
 'LT_debt',
 'empl',
 'EXP',
 'cost_empl',
 'RD',
 'cashflow',
 'EBITDA',
 'profit_margin',
 'ER_OR',
 'RD_OR',
 'current_ratio',
 'iliquidity_ratio',
 'profit_empl',
 'OR_empl',
 'cost_empl_OR',
 'gBVDid_comp',
 'MP_current',
 'MP_high',
 'MP_low',
 'Eshare',
 'nvalue',
 'mcapital',
 'CF_share',
 'expen_share',
 'EPS',
 'OperPS',
 'OPPS',
 'DPS',
 'BVPS',
 'TBVPS',
 'LTLPS',
 'WCPS',
 'rdate_year']

## Merge dcoun data using adateyear

In [64]:
bmi_t = bmi_df
bmi_t.columns = ['dcoun','bmi_both_sexes_d','bmi_male_d','bmi_female_d','adateyear']
bmi_t

,dcoun,bmi_both_sexes_d,bmi_male_d,bmi_female_d,adateyear
2,Afghanistan,4.1 [2.5-6.1],2.4 [1.0-4.8],5.7 [3.2-9.4],2014
3,Albania,21.1 [16.6-25.7],20.4 [14.1-27.6],21.7 [15.6-28.4],2014
4,Algeria,24.8 [20.3-29.7],17.7 [12.1-24.1],32.0 [25.2-39.4],2014
5,Andorra,27.3 [21.7-33.0],27.0 [19.1-35.3],27.6 [19.8-35.9],2014
6,Angola,6.2 [3.8-9.4],3.1 [1.2-6.0],9.2 [5.1-14.8],2014
...,...,...,...,...,...
192,Venezuela,25.2 [20.9-29.8],22.1 [16.1-28.6],28.3 [22.2-34.9],2016
193,Vietnam,2.1 [1.4-3.1],1.6 [0.8-2.8],2.6 [1.5-4.2],2016
194,Yemen,14.1 [10.8-17.8],9.9 [6.0-14.8],18.2 [13.1-24.0],2016
195,Zambia,6.5 [4.6-8.8],3.0 [1.4-5.6],10.0 [6.7-14.0],2016
196,Zimbabwe,12.3 [9.4-15.6],3.7 [2.0-6.3],20.5 [15.2-26.7],2016

In [65]:
bmi_t['adateyear'].dtype
bmi_t['adateyear']=bmi_t['adateyear'].astype(int)
bmi_t['adateyear'].dtype

dtype('int32')

In [67]:
a = pd.merge(projects, bmi_t,how="left" ,on=["dcoun","adateyear"]) 
a

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,OPPS,DPS,BVPS,TBVPS,LTLPS,WCPS,rdate_year,bmi_both_sexes_d,bmi_male_d,bmi_female_d
0,0,"BayWa to expand sales office in Edinburgh, Sco...",999379749,Expansion,Completed Assumed,1.91,Sales Office,BAYWA RE RENEWABLE ENERGY GMBH,DE8170725443,BAYERISCHE RAIFFEISEN-BETEILIGUNGS-AG,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,NaN,28.2 [25.8-30.7],27.1 [23.6-30.7],29.2 [25.8-32.8]
1,1,Vilebrequin to open clothing store in Brussels...,953988958,New,Completed Assumed,0.82,Retail,TRB INTERNATIONAL SA,LULB26186,G-111 APPAREL GROUP LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,NaN,23.7 [20.4-27.2],24.1 [19.3-29.2],23.3 [18.4-28.3]
2,2,"Replay to open clothing store in New York, USA",946529918,New,Completed Assumed,1.31,Retail,FASHION BOX SPA,IT03676290269,EQUIBOX HOLDING SPA,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,NaN,36.0 [32.5-39.5],35.0 [30.2-40.1],36.9 [32.2-41.7]
3,3,SKF to establish new research and development ...,941723112,New,Completed Assumed,30,R&D Centre,SKF AB,SE5560073495,FAM AB,...,1.35947575812042,0.935739010885358,7.90404467454553,0.795635016575456,12.3679136043638,7.52918865421414,NaN,36.0 [32.5-39.5],35.0 [30.2-40.1],36.9 [32.2-41.7]
4,4,"Hilton Worldwide to open hotel in Agra, India",931655359,New,Completed Assumed,21.77,Hotels,HILTON WORLDWIDE HOLDINGS INC.,US274384691,HILTON WORLDWIDE,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,NaN,3.4 [2.7-4.2],2.4 [1.6-3.4],4.4 [3.2-5.9]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86883,86883,Oyo plans to open Oyo Hotels & Homes brand hot...,562372036,New,Rumour,n.a.,Hotels,ORAVEL STAYS PVT LTD,IN0008565743,ORAVEL STAYS PVT LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,2019.0,NaN,NaN,NaN
86884,86884,Oyo plans to open Oyo Hotels & Homes brand hot...,523642464,New,Rumour,n.a.,Hotels,ORAVEL STAYS PVT LTD,IN0008565743,ORAVEL STAYS PVT LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,2019.0,NaN,NaN,NaN
86885,86885,Oyo plans to open Oyo Hotels & Homes brand hot...,387828716,New,Rumour,n.a.,Hotels,ORAVEL STAYS PVT LTD,IN0008565743,ORAVEL STAYS PVT LTD,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,2019.0,NaN,NaN,NaN
86886,86886,Saudi Basic plans to open a methanol manufactu...,327369715,New,Completed Assumed,119.15,Manufacturing,SAUDI BASIC INDUSTRIES CORPORATION SJSC,SA30020GS,SAUDI BASIC INDUSTRIES CORPORATION SJSC,...,3.3261335068047,1.17333339452744,19.6832010265589,18.5322676331997,5.36826694664359,3.12240016284585,2019.0,NaN,NaN,NaN
86887,86887,Cenizaro plans to open a The Residence brand h...,320226372,New,Completed Assumed,22.97,Hotels,CENIZARO PTE LTD,SG200822765H,GOLDVEIN HOLDINGS PTE. LTD.,...,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,2019.0,NaN,NaN,NaN

In [68]:
bmi_i = bmi_df
bmi_i.columns = ['icoun','bmi_both_sexes','bmi_male','bmi_female','adateyear']
bmi_i

,icoun,bmi_both_sexes,bmi_male,bmi_female,adateyear
2,Afghanistan,4.1 [2.5-6.1],2.4 [1.0-4.8],5.7 [3.2-9.4],2014
3,Albania,21.1 [16.6-25.7],20.4 [14.1-27.6],21.7 [15.6-28.4],2014
4,Algeria,24.8 [20.3-29.7],17.7 [12.1-24.1],32.0 [25.2-39.4],2014
5,Andorra,27.3 [21.7-33.0],27.0 [19.1-35.3],27.6 [19.8-35.9],2014
6,Angola,6.2 [3.8-9.4],3.1 [1.2-6.0],9.2 [5.1-14.8],2014
...,...,...,...,...,...
192,Venezuela,25.2 [20.9-29.8],22.1 [16.1-28.6],28.3 [22.2-34.9],2016
193,Vietnam,2.1 [1.4-3.1],1.6 [0.8-2.8],2.6 [1.5-4.2],2016
194,Yemen,14.1 [10.8-17.8],9.9 [6.0-14.8],18.2 [13.1-24.0],2016
195,Zambia,6.5 [4.6-8.8],3.0 [1.4-5.6],10.0 [6.7-14.0],2016
196,Zimbabwe,12.3 [9.4-15.6],3.7 [2.0-6.3],20.5 [15.2-26.7],2016

In [69]:
icoun_d = pd.merge(a, bmi_i,how="left" ,on=["icoun","adateyear"]) 
icoun_d

,Unnamed: 0,pheadline,pnumber,ptype,pstatus,iexpen,PBD,iname,iBVDid,gname,...,TBVPS,LTLPS,WCPS,rdate_year,bmi_both_sexes_d,bmi_male_d,bmi_female_d,bmi_both_sexes,bmi_male,bmi_female
0,0,"BayWa to expand sales office in Edinburgh, Sco...",999379749,Expansion,Completed Assumed,1.91,Sales Office,BAYWA RE RENEWABLE ENERGY GMBH,DE8170725443,BAYERISCHE RAIFFEISEN-BETEILIGUNGS-AG,...,n.a.,n.a.,n.a.,NaN,28.2 [25.8-30.7],27.1 [23.6-30.7],29.2 [25.8-32.8],24.7 [21.3-28.2],25.4 [20.6-30.6],24.1 [19.5-28.9]
1,1,Vilebrequin to open clothing store in Brussels...,953988958,New,Completed Assumed,0.82,Retail,TRB INTERNATIONAL SA,LULB26186,G-111 APPAREL GROUP LTD,...,n.a.,n.a.,n.a.,NaN,23.7 [20.4-27.2],24.1 [19.3-29.2],23.3 [18.4-28.3],23.3 [18.7-28.1],24.8 [18.0-32.3],21.8 [15.6-28.4]
2,2,"Replay to open clothing store in New York, USA",946529918,New,Completed Assumed,1.31,Retail,FASHION BOX SPA,IT03676290269,EQUIBOX HOLDING SPA,...,n.a.,n.a.,n.a.,NaN,36.0 [32.5-39.5],35.0 [30.2-40.1],36.9 [32.2-41.7],22.1 [19.0-25.5],21.5 [17.1-26.3],22.7 [18.1-27.6]
3,3,SKF to establish new research and development ...,941723112,New,Completed Assumed,30,R&D Centre,SKF AB,SE5560073495,FAM AB,...,0.795635016575456,12.3679136043638,7.52918865421414,NaN,36.0 [32.5-39.5],35.0 [30.2-40.1],36.9 [32.2-41.7],21.2 [17.8-24.6],23.1 [18.2-28.2],19.4 [14.8-24.2]
4,4,"Hilton Worldwide to open hotel in Agra, India",931655359,New,Completed Assumed,21.77,Hotels,HILTON WORLDWIDE HOLDINGS INC.,US274384691,HILTON WORLDWIDE,...,n.a.,n.a.,n.a.,NaN,3.4 [2.7-4.2],2.4 [1.6-3.4],4.4 [3.2-5.9],36.0 [32.5-39.5],35.0 [30.2-40.1],36.9 [32.2-41.7]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86883,86883,Oyo plans to open Oyo Hotels & Homes brand hot...,562372036,New,Rumour,n.a.,Hotels,ORAVEL STAYS PVT LTD,IN0008565743,ORAVEL STAYS PVT LTD,...,n.a.,n.a.,n.a.,2019.0,NaN,NaN,NaN,NaN,NaN,NaN
86884,86884,Oyo plans to open Oyo Hotels & Homes brand hot...,523642464,New,Rumour,n.a.,Hotels,ORAVEL STAYS PVT LTD,IN0008565743,ORAVEL STAYS PVT LTD,...,n.a.,n.a.,n.a.,2019.0,NaN,NaN,NaN,NaN,NaN,NaN
86885,86885,Oyo plans to open Oyo Hotels & Homes brand hot...,387828716,New,Rumour,n.a.,Hotels,ORAVEL STAYS PVT LTD,IN0008565743,ORAVEL STAYS PVT LTD,...,n.a.,n.a.,n.a.,2019.0,NaN,NaN,NaN,NaN,NaN,NaN
86886,86886,Saudi Basic plans to open a methanol manufactu...,327369715,New,Completed Assumed,119.15,Manufacturing,SAUDI BASIC INDUSTRIES CORPORATION SJSC,SA30020GS,SAUDI BASIC INDUSTRIES CORPORATION SJSC,...,18.5322676331997,5.36826694664359,3.12240016284585,2019.0,NaN,NaN,NaN,NaN,NaN,NaN
86887,86887,Cenizaro plans to open a The Residence brand h...,320226372,New,Completed Assumed,22.97,Hotels,CENIZARO PTE LTD,SG200822765H,GOLDVEIN HOLDINGS PTE. LTD.,...,n.a.,n.a.,n.a.,2019.0,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
icoun_d.shape

(86888, 297)

In [71]:
icoun_d.to_excel("final_projects_2020_bmi.xlsx")